{% extends 'base.html' %}
{% block con %}

    <form method="post" name="cForm" enctype="multipart/form-data">
        {% csrf_token %}
        <h1><b>SIGNUP PAGE</b></h1>

        <label class="form-label mt-5">USERNAME</label>
        <input name="uname" type="text" class="form-control">

        <label class="form-label mt-4">PASSWORD</label>
        <input type="password" name="upass" class="form-control">

        <label class="form-label mt-4">CHECK PASSWORD</label>
        <input type="password" name="ckpass" class="form-control">

        <label class="form-label mt-5">AGE</label>
        <input name="uage" type="text" value="0" class="form-control">

        <label class="form-label mt-5">EMAIL</label>
        <input name="umail" type="text" class="form-control">

        <label class="form-label mt-4">USERPIC</label>
        <input type="file" name="upic" class="form-control">

        <label class="form-label mt-4">COMMENT</label>
        <textarea class="form-control" name="ucomm"></textarea> 

        <div class="text-end mt-4">
            <button type="button" onclick="check()" class="btn btn-dark btn-lg">회원가입</button>
        </div>
    </form>


    <script>
        function check(){
            cf = document.cForm;
            if(!cf.uname.value){
                alert("USERNAME 을 입력해주세요!!");
            }else if(!cf.upass.value){
                alert("PASSWORD 를 입력해주세요!!");
            }else if(cf.upass.value != cf.ckpass.value){
                alert("PASSWORD 가 서로 일치하지 않습니다!");
            }else{
                cf.submit();
            }
        }
    </script>

{% endblock %}