{% extends 'base.html' %}
{% block con %}

    <h1><b>BOOK PAGE</b></h1>

    <div class="text-end">
        <a href="{% url 'book:create' %}" class="btn btn-success"> + BOOKMARK </a>
    </div>

    <div class="row mt-4 text-center">
        {% for i in bset %}
            <div class="col-sm-4 mb-3 mb-sm-0 mt-4">
                <div class="card">
                    <div class="card-body" {% if i.impo %} style="background-color: antiquewhite;" {% endif %}>
                        <h5 class="card-title"><b>{{ i.site_name }}</b></h5>
                        <p class="card-text">{{ i.site_con|truncatewords:2 }}</p>
                        <a href="{{ i.site_url }}" target="_blank" class="btn btn-primary">사이트이동</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}