{% extends 'base.html' %}
{% block con %}

    <h1><b>TTS</b></h1>

    <form>
        <textarea class="form-control mt-4" name="bf" style="height: 200px;" placeholder="변환할 문자열을 입력하세요">{{ bf }}</textarea>

        <select class="form-select mt-4 mb-5" name="to">
            {% for code, name in ndict.items %}
                <option value="{{code}}" {% if to %} {% if to == code %} selected {% endif %} {% else %} {% if code == 'en' %} selected {% endif %} {% endif %}>{{ name|upper }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-dark" style="width: 100%">변환</button>
        {% if fn %}
            <a class="btn btn-success mt-4" style="width: 100%" href="/media/tts/{{fn}}.mp3" download>파일 다운로드</a>
        {% endif %}
    </form>
{% endblock %}