{% extends 'base.html' %}
{% block con %}

    <h1><b>{{ b.subject }}</b></h1>

    <div class="text-end">
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#star">
            ✨
        </button>
    </div>

    <div class="row mt-4">
        <div class="col-sm-9">
            <textarea class="form-control" style="height:200px" disabled>{{ b.content }}</textarea>
        </div>
        <div class="col-sm-3">
            <img src="{{ b.writer.getpic }}" width="100%">
            <div class="text-center mt-3">
                <h5>written by <b>{{ b.writer }}</b></h5>
            </div>
            <div class="text-end mt-3">
                <b>{{ b.pubdate | date:'Y년 m월 d일 / H:i' }}</b>
            </div>
        </div>
    </div>

    <div class="text-end mt-4">
        <a href="{% url 'board:index' %}" class="btn btn-dark">글목록</a>

        {% if user in b.likey.all %}
            <a href="{% url 'board:unlikey' b.id %}" class="btn btn-danger">👍🏻</a>
        {% else %}
            <a href="{% url 'board:likey' b.id %}" class="btn btn-primary">👍🏻</a>
        {% endif %}

        {% if user == b.writer %}
            <a href="{% url 'board:update' b.id %}" class="btn btn-dark">글수정</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#remove">
                글삭제
            </button>
        {% endif %}

    </div>


    <!-- Modal -->
    {% if user == b.writer %}
        <div class="modal fade" id="remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>게시글 삭제 알림창</b></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        정말 삭제하시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <a href="{% url 'board:delete' b.id %}" class="btn btn-danger">삭제</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <form method="post" action="{% url 'book:create' %}">
        {% csrf_token %}
        <div class="modal fade" id="star" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">즐겨찾기 추가 알림창</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="text-end">
                            <input type="checkbox" name="impo" class="btn-check" id="btn-check-outlined" autocomplete="off">
                            <label class="btn btn-outline-warning" for="btn-check-outlined">✨</label><br>
                        </div>
                        <input type="hidden" name="sname" value="[BOARD]::{{ b.subject }}">
                        <input type="hidden" name="surl" value="{{ request.path }}">
                        <textarea class="form-control mt-3" name="scon" placeholder="사이트를 간략하게 설명해주세요" style="height: 100px;"></textarea>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button class="btn btn-primary">북마크추가</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}