{% extends 'base.html' %}
{% block con %}
    {% load mathfilters %}

    <h1><b>게시판</b></h1>
        
    <div class="text-end">
        <a href="{% url 'board:create' %}" class="btn btn-dark">게시글생성</a>
    </div>

    <table class="table table-hover mt-4">
        <thead>
            <tr class="table-dark">
                <th scope="col">NO</th>
                <th scope="col">SUBJECT</th>
                <th scope="col">SUMMARY</th>
                <th scope="col">WRITER</th>
                <th scope="col">LIKEY</th>
            </tr>
        </thead>
        <tbody>
            {% for i in bset %}
                <tr {% if i.ishot %} style="background-color: rgba(255, 0, 0, 0.151);" {% endif %}>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a class="sub" href="{% url 'board:detail' i.id %}">{{ i.subject }}</a></td>
                    <td>{{ i.content | truncatewords:10 }}</td>
                    <td>{{ i.writer }}</td>
                    <td>{{ i.likey.count }}</td>
                </tr>
            {% empty %}
                <tr>
                    {% if kw %}
                        <th colspan="5">검색결과가 없습니다 😅</th>
                    {% else %}
                        <th colspan="5">첫 번째 게시글을 작성해주세요 😂</th>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">

            {% if bset.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page=1">처음</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{ bset.previous_page_number }}">이전</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">처음</a></li>
                <li class="page-item disabled"><a class="page-link">이전</a></li>
            {% endif %}
        

            {% for i in bset.paginator.page_range %}
                {% if bset.number|add:3 >= i and i >= bset.number|sub:3 %}
                    <li class="page-item {% if bset.number == i %} active {% endif %}"><a class="page-link" href="{% url 'board:index' %}?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            {% if bset.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{ bset.next_page_number }}">다음</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'board:index' %}?page={{ bset.paginator.num_pages }}">마지막</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">다음</a></li>
                <li class="page-item disabled"><a class="page-link">마지막</a></li>
            {% endif %}
        
        </ul>
    </nav>

    <form>
        <div class="row">
            <div class="col-sm-2">
                <select class="form-select" name="cate">
                    <option value="sub" {% if cate == "sub" %} selected {% endif %}>제목</option>
                    <option value="wri" {% if cate == "wri" %} selected {% endif %}>작성자</option>
                    <option value="con" {% if cate == "con" %} selected {% endif %}>내용</option>
                </select>
            </div>
            <div class="col-sm-6">
                <input type="text" name="kw" value="{{kw}}" class="form-control">
            </div>
            <div class="col-sm-2">
                <button style="width:100%" class="btn btn-dark">검색</button>
            </div>
            <div class="col-sm-2">
                <a style="width:100%" class="btn btn-secondary" href="{% url 'board:index' %}">초기화</a>
            </div>
        </div>
    </form>

    <style>
        .sub {
            text-decoration: none;
            color:black;
            font-weight: bold;
        }
        .sub:hover{
            color:red;
        }
    </style>



{% endblock %}